* {
  box-sizing: border-box;
  top: 0px;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
}

p, label {
  font-size: 1.2rem;
  color: #555;
}

input {
  width: 50px;
  padding: 5px;
}

.container {
  padding: 10px;
  width: 90%;
  margin: auto;
}

.button {
  border: #ccc 1px solid;
  padding: 10px;
  font-size: 1.1rem;
  color: #555;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}